<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="nav-link" [routerLink]="['/home']">Inicio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/work">Trabajo</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about-me']">Sobre mí</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mi trabajo
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['category/01']">Mini serie</a></li>
                  <li><a class="dropdown-item" [routerLink]="['category/02']">Documental</a></li>
                  <li><a class="dropdown-item" [routerLink]="['category/03']">Videoclips</a></li>
                  <li><a class="dropdown-item" [routerLink]="['category/04']">Animación</a></li>
                  <li><a class="dropdown-item" [routerLink]="['category/05']">Redes y publicidad</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" _blank href="https://drive.google.com/file/d/1LJgYFQBnSQ_V3Bo82TQLv974zitLd406/view?usp=drive_link">Reel 2025</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" (click)="scrollToContact()">Contacto</a>
              </li>
              
              
              <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" fragment="contact">Contacto</a>
              </li> -->
            </ul>
            <!-- Logo -->
            <a class="navbar-brand" [routerLink]="['/home']">
              <!-- <img src="assets/images/logo.png" alt="Logo" width="30" height="24"> -->
               Delfina Asenjo
            </a>
          </div>
        </div>
      </nav>
</header>