<footer id="contact">
    <div class="row center">
        <div class="col">
            <h4 class="center"> Redes: </h4>
            <p class="subtitle">            
                <a class="icons" target="_blank" href="https://www.instagram.com/rosesandheaven?igsh=MTllaWFxNzdoMG8wbg==">
                    <img src="../../../assets/icons/instagram.png" alt="">
                </a>
                <a class="icons" target="_blank" href="https://www.linkedin.com/in/delfina-asenjo-1382b8194?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                    <img src="../../../assets/icons/linkedin.png" alt="">
                </a>
            </p>
           </div>
           <div class="col">
            <h4 class="center"> Correo: </h4>
            <p class="subtitle">
                <a target="_blank" href="mailto:delfinasenjo@gmail.com">
                    <img src="../../../assets/icons/gmail.png" class="icons" alt="">Delfinasenjo&#64;gmail.com
                </a>
            </p>
           </div>
           <div class="col">
            
            <h4 class="center"> Teléfono: </h4>
            <p class="subtitle">
                <a>
                    <img class="icons" src="../../../assets/icons/whatsapp.png" alt="">+54 9 2317 456628
                </a>
        </div>
    
    </div>
</footer>