.center{
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}
footer{
    margin-top: 10%;
}

.icons{
    padding: 0% 2%;
}

.subtitle{
    text-align: center;

}