<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="title">Sobre mí</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <img class="img-cv" src="../../../assets/Foto CV.jpg" alt="">
        </div>
        <div class="col">
            <h3 class="subtitle">Asenjo Delfina - Montajista</h3>
            <p>
                Soy montajista estudiante. 
                Me gustan los proyectos y espacios de trabajo en los que se requiere atención al detalle, precisión y responsabilidad. 
                Trabajo con diferentes géneros y formatos, desde documentales hasta videoclips, pasando por cortometrajes animados hasta una mini-serie online. 
                Cursando el final de mi carrera estudiantil, busco seguir creciendo y aprendiendo en el mundo audiovisual, aprovenchando las herramientas que conseguí
                estos años de estudio para ingresar al ámbito profesional.
            </p>
        </div>
    </div>
</div>